/* Landing */
.Landing {
    position: relative;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid var(--accent-clr);
    box-shadow: var(--shadow-bottom);
}
.Landing .landing_Container {
    width: 100%;
    height: 100%;
}


/* Banner Image */
.Landing .landing_Container .banner {
    width: 100%;
    height: 100%;
}
.Landing .landing_Container .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Image Overlay */
.Landing .landing_Container .banner .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.448);
    cursor: text;
}


/* Banner Text */
.Landing .landing_Container .banner-text_Container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    );
    height: 40%;
    width: 100%;
}
.Landing .landing_Container .banner-text_Container h2 {
    font-size: 4em;
}
.Landing .landing_Container .banner-text_Container h3 {
    font-size: 2em;
    color: var(--accent-clr);
}