.Nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* Contact Button */
.Nav .contact-btn_Container {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-top: 5px;
}
.Nav .contact-btn_Container .contact-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
}


/* Section Title */
.Nav .section-title_Container {
    display: flex;
    justify-content: center;
}
.Nav .section-title_Container .section-title {
    font-style: italic;
}


/* Toggle Button */
.Nav .toggle-btn_Container {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 5px;
}
.Nav .toggle-btn_Container .toggle-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
}


/* Navigation */
.Nav .nav_Container {
    position: fixed;
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    border-radius: 0;
    transition: 1s ease-in;
}
.show-nav {
    scale: 1;
    border-radius: 0;
    height: 100vh;
}
.Nav .nav_Container .nav_List {
    width: 80%;
}
.Nav .nav_Container .nav_List li {
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.311);
}
.Nav .nav_Container .nav_List a {
    display: inline-block;
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
}