.Projects {
    width: 100%;
}
.Projects .projects_Container {
    max-width: 80%;
    width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Heading */
.Projects .projects_Container .heading_Section {
    padding-bottom: 50px;
}

/* Car Galery */
.Projects .projects_Container .card-galery_Section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

/* Card */
.Projects .projects_Container .card-galery_Section .card {
    width: 100%;
    background-color: var(--tertiary-clr);
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--accent-clr);
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    padding: 5px;
}
.Projects .projects_Container .card-galery_Section .card:hover {
    position: relative;
    top: -1px;
    box-shadow: 1px 5px 10px var(--accent-clr);
}
/* Image */
.Projects .projects_Container .card-galery_Section .card .card-img_Container {
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.Projects .projects_Container .card-galery_Section .card .card-img_Container img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
/* Title */
.Projects .projects_Container .card-galery_Section .card .card_Header {
    padding: 0px 10px;
    margin-bottom: 10px;
}
/* Main */
.Projects .projects_Container .card-galery_Section .card .card_Main {
    padding-bottom: 10px;
    padding-left: 10px;
}
/* Footer */
.Projects .projects_Container .card-galery_Section .card .card_Footer {
    width: 100%;
    text-align: center;
}
.Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li {
    display: inline-block;
    text-align: center;
    padding: 10px 10px 8px 10px;
    font-size: 0.9em;
}




/* Media Queries */
@media all and (max-width: 1550px) {
    .Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li {
        font-size: 1em;
    }

    .Projects .projects_Container .card-galery_Section .card .card_Footer {
        margin-bottom: 0;
    }

    .Projects .projects_Container .card-galery_Section .card .card_Main {
        margin-bottom: 15px;
    }
}

@media all and (max-width: 1380px) {
    .Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container {
        width: 100%;
    }
    .Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li {
        display: block;
        width: 85%;
        font-size: 0.9em;
        padding: 2px 10px 2px 10px;
        margin: 0 auto;
    }
    .Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li a {
        display: block;
        width: 100%;
    }
}

@media all and (max-width: 1200px) {
    /* Galelry Grid */
    .Projects .projects_Container .card-galery_Section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 700px) {
    /* Galelry Grid */
    .Projects .projects_Container .card-galery_Section {
        grid-template-columns: repeat(1, 1fr);
    }
}   