.Projects {
    width: 100%;
}
.Projects .projects_Container {
    max-width: 90%;
    width: 1100px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Heading */
.Projects .projects_Container .heading_Section {
    padding-bottom: 80px;
}
.Projects .projects_Container .heading_Section h2 {
    font-size: 1.8em;
}

/* Car Galery */
.Projects .projects_Container .card-galery_Section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

/* Card */
.Projects .projects_Container .card-galery_Section .card {
    width: 100%;
    background-color: var(--tertiary-clr);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.Projects .projects_Container .card-galery_Section .card:hover {
    position: relative;
    top: -5px;
}
/* Image */
.Projects .projects_Container .card-galery_Section .card .card-img_Container {
    width: 100%;
    height: 50%;
}
.Projects .projects_Container .card-galery_Section .card .card-img_Container img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
/* Title */
.Projects .projects_Container .card-galery_Section .card .card_Header {
    padding: 10px 10px;
    margin-bottom: 10px;
}
/* Main */
.Projects .projects_Container .card-galery_Section .card .card_Main {
    padding: 0 10px;
}
/* Footer */
.Projects .projects_Container .card-galery_Section .card .card_Footer {
    margin: auto auto 10px auto;
}
.Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}
.Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li a {
    background-color: var(--accent-clr);
    color: rgb(0, 0, 0);
    padding: 2px;
    border-radius: 4px;
    font-weight: bold;
    transition: 1s;
}
.Projects .projects_Container .card-galery_Section .card .card_Footer .project-view-links_Container li a:hover {
    background-color: rgb(24, 24, 24);
    color: var(--primary-clr);
}