.Projects {
  width: 100%;
}
.Projects .projects_Container {
  max-width: 80%;
  width: 1100px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Heading */
.Projects .projects_Container .heading_Section {
  padding-bottom: 50px;
}
