/* ----- <SideBar /> ----- */
.SideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    z-index: 1;
    background-color: var(--tertiary-clr);
    border-right: 1px solid var(--accent-clr);
    box-shadow: var(--shadow-right);
}
.SideBar .sidebar_Container {
    display: block;
    padding: 25px 16px;
}




/* ----- <Header /> ----- */
.SideBar .Header {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 30px;
}
/* Logo */
.SideBar .Header h1 {
    font-size: 1.8em;
    color: var(--primary-clr);
}
/* Profile Image */
.SideBar .Header .profile-img_Section {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.SideBar .Header .profile-img_Section .profile-img_Container {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid var(--accent-clr);
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SideBar .Header .profile-img_Section .profile-img_Container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
/* Greeting */
.SideBar .Header .greeting_Section {
    margin: 0 10px;
}
.SideBar .Header .greeting_Section .greeting_Container {
    text-align: center;
}
.SideBar .Header .greeting_Section .greeting_Container p {
    font-size: 0.8em;
}
.SideBar .Header .greeting_Section .greeting_Container p span {
    font-weight: bold;
}




/* ----- <Nav /> ----- */
.SideBar .Nav {
    width: 100%;
    margin: 10px 0;
}
.SideBar .Nav .nav_Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.SideBar .Nav .nav_Container .nav_List {
    text-align: left;
    position: relative;
}
.SideBar .Nav .nav_Container .nav_List li a {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--text-clr);
    transition: 1s;
}
.SideBar .Nav .nav_Container .nav_List li a:hover {
    color: var(--primary-clr);
}
.SideBar .Nav .nav_Container .hire-me-link_Container {
    text-align: center;
    width: 100%;
    padding: 20px;
}
.SideBar .Nav .nav_Container .hire-me-link_Container a {
    background-color: var(--accent-clr);
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: 1s;
}
.SideBar .Nav .nav_Container .hire-me-link_Container a:hover {
    background-color: rgb(24, 24, 24);
    color: var(--primary-clr);
}




/* <SidebarFooter /> */
.SideBar .SidebarFooter {
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}
.SideBar .SidebarFooter .sidebar-footer_Container {
    height: 100%;
    text-align: center;
}
.SideBar .SidebarFooter .sidebar-footer_Container .social-links_List {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.SideBar .SidebarFooter .sidebar-footer_Container .social-links_List a {
    font-size: 2em;
    color: var(--accent-clr);
    transition: 1s;
}
.SideBar .SidebarFooter .sidebar-footer_Container .social-links_List a:hover {
    color: var(--primary-clr);
}