.ToggleButton {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
}

.ToggleButton button {
  font-size: 1.3em;
  background-color: transparent;
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ToggleButton button:hover {
  background-color: #7dbfe8ba;
  color: black;
}

.ToggleButton .toggle_Button .icon {
  position: relative;
  top: 1px;
}
