.ToggleButton {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.ToggleButton button {
    padding: 5px;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    background-color: #7dbfe8ba;
}

.ToggleButton .toggle_Button .icon {
    position: relative;
    top: 2px;
}