.ToTopBtn {
    position: fixed;
    bottom: 10px;
    right: 5px;
}

.ToTopBtn .internal-link {
    font-size: 1.8em;
    width: 40px;
    height: 40px;
    background-color: #7dbfe8ba;
}

.ToTopBtn a .icon {
    position: relative;
    top: 4px;
}