.ToTopBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.ToTopBtn .internal-link {
  font-size: 1.3em;
  background-color: transparent;
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ToTopBtn .internal-link:hover {
  background-color: #7dbfe8ba;
  color: black;
}
