.ToTopBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.ToTopBtn .internal-link {
    font-size: 1.8em;
    width: 45px;
    height: 47px;
    background-color: #7dbfe8ba;
}

.ToTopBtn a .icon {
    position: relative;
    top: 2px;
}