/* ----- IMPOPORTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');




/* ----- RESETS ----- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
}




/* ----- VARIABLES ----- */
:root {
    /* Color Scheme */
    --primary-clr: #d9ebff;
    --secondary-100-clr: #081929;
    --secondary-200-clr: #05101a;
    --tertiary-clr: rgb(0, 0, 0);
    --text-clr: rgb(200, 200, 200);
    --accent-clr: #7dbfe8;
    --border: 1px solid var(--accent-clr);
    --shadow-right: 1px 0 10px var(--accent-clr);
    --shadow-bottom: 0 1px 10px var(--accent-clr);
}




/* ----- GLOBAL STYLES ----- */
body {
    background-color: var(--secondary-100-clr);
    margin-left: 280px;
    height: 100vh;
}

/* Headings */
h1,h2,h3,h4 {
    color: var(--primary-clr);
}

/* Links */
a {
    text-decoration: none;
}
/* Text */
p {
    color: var(--text-clr);
}
/* Horizontle Rules */
hr {
    border: thin solid rgb(33, 33, 33);
}




/* ----- MEDIA QUERIES ----- */