/* ----- Resets ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}




/* ----- Variables ----- */
:root {
    /* Color Scheme */
    --Background-Gradient-1: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* Grade Grey */
    --Background-Gradient-2: linear-gradient(to bottom, #000000, #434343); /* Deep Space */
    --Background-Gradient-3: linear-gradient(to bottom, #232526, #414345); /* Midnight City */
    --Primary-Light-clr: #bdc3c7;
    --Primary-Dark-clr: #2c3e50;
    --Accent-Light-clr: #6aa3e8;
    --Accent-Dark-clr: #1e2e53;
    --Text-Light-clr: #dde4e9;
    --Text-Dark-clr: #1a1b1c;
}




/* ----- Styles ----- */
/* -- Centralize Content -- */



/* -- Backgrounds -- */



/* -- Headings -- */



/* Internal Links */



/* External Links */



/* -- Buttons--  */



/* -- Text -- */



/* -- Icons -- */
