/* ----- IMPOPORTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');




/* ----- RESETS ----- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
}




/* ----- VARIABLES ----- */
:root {
    /* Color Scheme */
    --primary-clr: #d9ebff;
    --secondary-100-clr: #081929;
    --secondary-200-clr: #05101a;
    --tertiary-clr: rgb(0, 0, 0);
    --text-clr: #c8c8c8;
    --accent-clr: #7dbfe8;
    --border: 1px solid var(--accent-clr);
    --shadow-right: 1px 0 10px var(--accent-clr);
    --shadow-bottom: 0 1px 10px var(--accent-clr);
}




/* ----- GLOBAL STYLES ----- */
body {
    background-color: var(--secondary-100-clr);
    margin-left: 280px;
    height: 100vh;
}

/* Headings */
h1,h2 {
    color: var(--primary-clr);
    font-size: 1.8em;
}
h3 {
    color: var(--primary-clr);
}

/* Links */
a {
    text-decoration: none;
}
a.internal-link {
    color: var(--text-clr);
}
a.internal-link:hover {
    color: var(--primary-clr);
}
a.external-link {
    color: var(--accent-clr);
}
a.external-link:hover {
    color: var(--primary-clr);
}

/* Buttons */
a.button {
    background-color: var(--accent-clr);
    color: var(--tertiary-clr);
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid var(--tertiary-clr);
    transition: 0.2s;
}
a.button:hover {
    background-color: var(--tertiary-clr);
    color: var(--accent-clr);
    border: 1px solid var(--accent-clr);
}

/* Text */
p {
    color: var(--text-clr);
}
/* Horizontle Rules */
hr {
    border: thin solid rgb(33, 33, 33);
}




/* ----- MEDIA QUERIES ----- */
@media all and (max-width: 1550px) {
    /* Body */
    body {
        margin-left: 250px;
    }
    
    /* Headings */
    h1,h2 {
        color: var(--primary-clr);
        font-size: 1.5em;
    }

    /* Text */
    p {
        font-size: 0.9em;
    }

    /* Buttons */
    a.button {
        font-size: 1em;
    }
}